{% load static %}
<nav class="navbar navbar-expand-lg minha-navbar">
  <div class="container-fluid">
 
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/LOGO_JIFB_SEM_FUNDO.png' %}" alt="Logo" width="60" height="60">
    </a>

   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quem_somos' %}">Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'noticia' 'feed' %}">Ver notícias</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="acoesDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Ações
          </a>
          <ul class="dropdown-menu" aria-labelledby="acoesDropdown">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Entrar</a></li>
              <li><a class="dropdown-item" href="{% url 'register'%}">Registre-se</a></li>
            {% endif %}
          </ul>
        </li>

        {% if request.user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="jornalistaDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Área do Jornalista
          </a>
          <ul class="dropdown-menu" aria-labelledby="jornalistaDropdown">
            <li><a class="dropdown-item" href="{% url 'publicar' %}">Publicar</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      {% if request.user.is_authenticated %}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user' request.user.username %}">
            <img src="{{minha_foto_de_perfil.url}}" alt="Perfil" class="rounded-circle" style="width: 40px; height: 40px;">
          </a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
<style>
.minha-navbar {
  background-color: #745dab;
}

.nav-link {
  color: white;
}

.nav-link.active {
  color: white !important;
  font-weight: bold;
}

.navbar-brand img {
  border-radius: 8px;
}

.navbar-toggler {
  border: none;
}
.dropdown-menu {
  background-color: #f8f9fa;
}

</style>
<script>
  const navLinks = document.querySelectorAll('.nav-link');
  
  const currentPath = window.location.pathname;

  navLinks.forEach(link => {
    if (link.getAttribute('href') === currentPath) {
      link.classList.add('active'); 
    } else {
      link.classList.remove('active'); 
    }
  });

  
</script>
